/* About us */

.container{
    background-color: #ffa83d;
}

.aboutustag{
    height:70vh;
    width: 100%;
}

.tag{
    margin-top: 15vh;
    text-align: center;
    color: white;
    
}

@media screen and (min-width: 760px) {
    .tag{
        font-size: 3vw;
        font-weight: 600;
        margin-right: 12vw;
        margin-left: 12vw;
    }
    
}

@media screen and (max-width: 760px) {

    .tag{
        font-size: 4.5vw;
        font-weight: 600;
        margin-right: 5vw;
        margin-left: 5vw;
    }

}


/* About us main */
.aboutustitle{
    color: black;
    position: absolute;
    left: 2vw;
}

.aboutusmain{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: white;
    min-height: 100vw;
    border-radius: 50px 50px 0px 0px;
    padding: 50px;
    box-shadow: 0px 20px 15px 2px rgba(0, 0, 0, 0.336);
}

.aboutusmain img{
    border-radius: 50px;
    width: 100%;
    
}

.aboutusmid{
    margin-top: 100px;
    
}

.aboutusmid img{
    width: 80%;
    
}

.iconalign{
    margin-top: 30px;
    color: #3F3D56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cardalign{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.profilealign{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}




@media screen and (min-width: 1200px) {
    .aboutustitle{
        font-size: 3.5vw;
        font-weight: 700;
        bottom: 30vh;

    }

    .iconalign{
        font-size: 4vw;
    }
}

@media screen and (min-width: 760px) {
    .aboutustitle{
        font-size: 5vw;
        font-weight: 700;
        bottom: 33vh;

    }

    .iconalign{
        font-size: 6vw;
    }
}

@media screen and (max-width: 760px) {
    
    .aboutustitle{
        font-size: 10vw;
        font-weight: 720;
        bottom: 25vh;
        left: 5vw;
    }

    .aboutusmain{
        padding: 0px;
    }

    .iconalign{
        font-size: 7vw;
    }

    

}


/* aboutus end */

.aboutusend{
    height: 45vh;
    margin-top: 20px;
}

.footeralign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    flex-wrap: nowrap;
}

.linkgroup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactinfo{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.navlink {
   
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, black, black 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    cursor: pointer;
}
.navlink:hover {
    background-position: 0 100%;
}

.sociallink{
    transition-duration: 200ms;
}

.sociallink:hover{
    color:white;
    transition-duration: 400ms;
}

@media screen and (min-width: 1000px) {

    .footeralign{
        font-size: 4vw;
    }
    .contactinfo{
        font-size: 2vw;
    }
}

@media screen and (max-width: 1200px) {
    
    .footeralign{
        font-size: 6vw;
    }
    .contactinfo{
        font-size: 3vw;
    }

}

@media screen and (max-width: 760px) {

    .footeralign{
        font-size: 5vw;
    }

}

