.container{
  background-color: #e21339;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* Title */
.title{
  color: white;
  margin: 20px 15px 20px 15px;
  position: absolute;
  top: 0px;
  z-index: 10;

}

@media screen and (min-width: 992px) {
 .title{
   color: #e21339;
 }
}

.title h1{
  font-weight: 700;
}

.gretting{
  width: auto;
}

/* Left side bar */

.leftsidebar{
  background-color: grey;
  height: 100%;
}

.desktopvideo{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  z-index: 0;
  padding: 0px;
}

.desktopvideo video{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 200;
}

.mobvideo{
  position: absolute;
  top: 15%;
  left: 0px;
  height: 85%;
  width: 100%;
  z-index: 0;
  padding: 0px;
  
}

.mobvideo video{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 200;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

}

.hideprop {
  transition-duration: 300ms;
  opacity: 0;
}


/* Right side bar */

.rightsidebar{
  margin-left: 10px;
}