.container{
    background-color: #392f94;
}

.title{
    color: white;
    margin: 20px 15px 20px 15px;
    position: absolute;
    top: 0px;
    z-index: 10;
  
  }

.workhead{
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.workvideo{
    max-width: 100%;
}


.workheadtitle{
    color:white;
    z-index: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 100%;
    
}

.workheadtitle h1{
    font-size: 3vmax;
    font-weight: 630;
}

.workheadtitle h5{
    margin-top: 20px;
    font-size: 1vmax;
    color: #cebaee;
}


.worktitle{
    text-align: center;
    color: white;
}

.worktitle span{
    font-size: 20px;

}


@media (min-width:1200px) {
    
    .worktitle{
        font-size: 4vw;
        font-weight: 620;
    }
}


@media (max-width:1200px) and (min-width:700px) {
    
    .worktitle{
        font-size: 5.5vw;
        font-weight: 620;
    }
}

@media (max-width:700px) and (min-width:0px) {
    
    .worktitle{
        font-size: 10vw;
        font-weight: 620;
    }

    .worktitle span{
        font-size: small;
    }
}


/* work template container */

.worktemplate_container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: white;
}
