.container{
    background-color: #392f94;
}

.title{
    color: white;
    margin: 20px 15px 20px 15px;
    position: absolute;
    top: 0px;
    z-index: 10;
  
  }

.workhead{
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.workvideo{
    max-width: 100%;
}


.workheadtitle{
    color:white;
    z-index: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 100%;
    
}

.workheadtitle h1{
    font-size: 3vmax;
    font-weight: 630;
}

.workheadtitle h5{
    margin-top: 20px;
    font-size: 1vmax;
    color: #cebaee;
}

