.container{
    background-color: #392f94;
}

.title{
    color: white;
    margin: 20px 15px 20px 15px;
    position: absolute;
    top: 0px;
    z-index: 10;
  
  }

.workhead{
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.workvideo{
    max-width: 100%;
}


.workheadtitle{
    color:white;
    z-index: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 100%;
    
}

.workheadtitle h1{
    font-size: 3vmax;
    font-weight: 630;
}

.workheadtitle h5{
    margin-top: 20px;
    font-size: 1vmax;
    color: #cebaee;
}


.worktitle{
    text-align: center;
    color: white;
}

.worktitle span{
    font-size: 20px;

}


@media (min-width:1200px) {
    
    .worktitle{
        font-size: 4vw;
        font-weight: 620;
    }
}


@media (max-width:1200px) and (min-width:700px) {
    
    .worktitle{
        font-size: 5.5vw;
        font-weight: 620;
    }
}

@media (max-width:700px) and (min-width:0px) {
    
    .worktitle{
        font-size: 10vw;
        font-weight: 620;
    }

    .worktitle span{
        font-size: small;
    }
}


/* work template container */

.worktemplate_container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: white;
    padding-top: 50px;
    padding-right: 20px;
}

.project_title_desktop{
    text-align: left;
    font-size: 60px;
    font-weight: 610;

}

.project_header_desktop{
    padding-top: 40px;
}

.flex_header_item{
    text-align: right;
    padding: 0px 20px 0px 20px;
    font-size: medium;
}

.flex_header_item p{
    padding: 0;
    margin-bottom: -15px;
    color: #392f94;
    font-size: larger;
    font-weight: 500;
}

.project_main_desktop{
    height: 90vh;
    border-radius: 50px 50px 0px 0px;
    margin-top: 30px;
    color: white;
    padding: 20px;
}

.project_mainleft_desktop{
    padding-top: 50px;
    border-radius: 50px;
    background-color:#392f94;
    padding-left: 30px;
    padding-right: 30px;
}

.project_mainleft_desktop h3{
    font-size: 60px;
}

.project_mainleft_desktop p{
    font-size: 25px;
}

.project_image_container{

    padding: 30px;
    height: 100vh;
    overflow: hidden;
    border-radius: 50px;
}

.project_image{
    animation: verticalscroll 40s linear alternate-reverse infinite;
}

@keyframes verticalscroll{
    0%{
        /* margin-top: 0px; */
        -webkit-transform: translateY(0%);
    }
    100%{
        /* margin-top: -4000px; */
        -webkit-transform: translateY(-100%);
    }
}
.project_image img{
    border-radius: 50px;
    width: 100%;
    margin-bottom: 100px;
}

@media (max-width:1000px) {
    
    .project_title_desktop{
        font-size: 40px;
    }
    
    .flex_header_item{
        font-size: smaller;
    }
    
    .project_mainleft_desktop{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:767px)
{
    .worktemplate_container{
        height: 150vh;
    }
}

.project_title_mobile{
    text-align: left;
    font-weight: 630;
}

.project_header_mobile{
    padding-top: 40px;
}

.flex_header_item_mobile{
    text-align: center;
    padding: 0px 20px 0px 20px;
    font-size: medium;
}

.flex_header_item_mobile p{
    padding: 0;
    margin-bottom: -15px;
    color: #392f94;
    font-size: larger;
    font-weight: 500;
}

.project_main_mobile{
    height: 90vh;
    border-radius: 50px 50px 0px 0px;
    margin-top: 15px;
    color: white;
    
}

.project_desc_mobile{
    padding: 25px;
    border-radius: 50px;
    background-color:#392f94;
    height: 100vh;
    
}

.project_image_container_mobile{
    height: 50vh;
    overflow: hidden;
    border-radius: 50px;
    margin-bottom: 10px;
}

.project_image_mobile{
    animation: verticalscroll1 40s linear alternate-reverse infinite;
}

@keyframes verticalscroll1{
    0%{
        /* margin-top: 0px; */
        -webkit-transform: translateY(0%);
    }
    100%{
        /* margin-top: -4000px; */
        -webkit-transform: translateY(-100%);
    }
}

.project_image_mobile img{
    border-radius: 50px;
    width: 100%;
    margin-bottom: 20px;
}


@media (max-width:400px) {

    .flex_header_item_mobile{
        font-size: smaller;
        margin-bottom: 25px;
    }
    .flex_header_item_mobile p{
        font-size: small;
    }
    .project_desc_mobile{
        padding: 20px;
    }
    
}
